<!-- <h2>Flower</h2>

<form action="/flowers" method="post">
  <label>
    Name:
    <input name="name" value="<%= @flower["name"] %>" required>
  </label>

  <label>
    Sun Needs:
    <input name="sun_needs" value="<%= @flower["sun_needs"] %>" >
  </label>

  <label>
    Soil Needs:
    <input name="soil_needs" value="<%= @flower["soil_needs"] %>" >
  </label>

  <label>
    Blooms in:
    <input name="bloom_in" value="<%= @flower["bloom_in"] %>" >
  </label>

  <label>
      Image:
      <input type="url" name="image" value="<%= @flower["image"] %>" >
  </label>

  <button><%= @operation  %></button>
</form> -->
