<h2><%= @fighter.name %></h2>

<% unless @fighter.image.nil? || @fighter.image.empty? %>
<img src="<%= @fighter.image %>" alt="<%= @fighter.name %>">
<% end %>

<div class="controls">
  <a href="/fighters/<%= @fighter.id %>/edit">Edit</a>
  <a href="/fighters/<%= @fighter.id %>/delete">Delete</a>
</div>
