<div class="uk-section uk-section-default">
    <div class="uk-container">
            <h3><%= @blogpost["title"]  %></h3>
        <p><%= @blogpost["post"] %>
        </p>
        <small>Posted: <%= @blogpost["date"]  %></small>

        <% if session["user_id"] %>
            <span class="uk-label uk-label-danger"><a class="uk-link-text uk-text-bold" href="/blog/<%= params[:username] %>/<%= @blogpost["id"] %>/delete" uk-tooltip="This can not be undone!">Delete</a>
            </span>
            <span class="uk-label"><a class="uk-link-text uk-text-bold" href="/blog/<%= params[:username] %>/<%= @blogpost["id"] %>/edit" uk-tooltip="">Edit</a>
            </span>
        <% end %>
        
    </div>
    <div class="uk-container uk-margin-large-top"><a href="/blog/<%= params[:username] %>">Return</a></div>
</div>