<h2><%= @character["name"] %></h2>

<h3>Species: <%= @character["species"] %></h3>

<% unless @character["image"].nil? || @character["image"].empty? %>
<img src="<%= @character["image"] %>" alt="<%= @character["name"] %>">
<% end %>

<div class="controls">
  <a href="/characters/<%= @character["id"] %>/edit">Edit</a>
  <a href="/characters/<%= @character["id"] %>/delete">Delete</a>
</div>
