<!DOCTYPE html>
<html>
  <head>
    <title>Auto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      |
      <%= link_to "Cars", cars_path %>
      <%= link_to "New car", new_car_path %>
      |
      <%= link_to "Brands", brands_path %>
      <%= link_to "New brand", new_brand_path %>
    </nav>
    <%= yield %>
  </body>
</html>
