<h2><%= @car["brand"] %></h2>
<h3>Model: <%= @car["model"] %></h3>
<h3>Style: <%= @car["style"] %></h3>

<% unless @car["image"].nil? || @car["image"].empty? %>
  <img src="<%= @car["image"] %>" alt="<%= @car["brand"] %>">
<% end %>

<div class="controls">
  <a href="/cars/<%= @car["id"] %>/edit">Edit</a>
  <a href="/cars/<%= @car["id"] %>/delete">Delete</a>
</div>
