<!DOCTYPE html>
<html>
  <head>
    <title>Cinema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
          <%= link_to "Home", root_path %>
          |
          <%= link_to "Directors", directors_path %>
          <%= link_to "New director", new_director_path %>
        </nav>

    <%= yield %>
  </body>
</html>
