<h2>Results for "<%= @search %>": </h2>

<h3><%= @search_info["items"].size == 0 ? "No results found!" : "" %></h3>

<div class="search_images">
    <% @search_info["items"].each do |book| %>
        <a href="/book/<%=book["id"]%>"><img src="<%= book.dig("volumeInfo","imageLinks","thumbnail") != nil ? book['volumeInfo']['imageLinks']['thumbnail'] : "" %>" alt="<%= book.dig("volumeInfo","title") != nil ? book['volumeInfo']['title'] : "" %>"></a>
    <% end %>
</div>