<h1>Rails View Helpers</h1>

<p>Here are some examples of view helpers in Rails:

  <%= link_to "Home", root_path %>
  <%= link_to  "Numbers", numbers_path %>
  <%= link_to "Text", text_path %>
  <%= link_to "Assets", assets_path %>
  <%= link_to "URL", url_path %>

</p>
